html,
body {
  margin: 0;
  padding: 0;
}
input[type=range][orient=vertical] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
}
#eq_container {
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-rows: 320px 1fr;
  grid-template-columns: 1fr 1fr 20px;
}
#eq_container #eq {
  width: 640px;
  height: 320px;
  background: black;
  grid-row: 1;
  grid-column: 1 / span 2;
  margin: auto;
}
#eq_container #eq_buffer_slider {
  width: 100%;
  grid-row: 2;
  grid-column: 2;
}
#eq_container #eq_buffer_label {
  width: 100%;
  grid-row: 2;
  grid-column: 1;
  font-size: 16pt;
  margin: auto;
}
#eq_container #eq_deb_slider {
  width: 16px;
  height: 320px;
  padding: 0 10px;
  grid-row: 1;
  grid-column: 3;
  margin-left: -20px;
}
#eq_container #eq_deb_label {
  font-size: 16pt;
  margin-top: -180px;
  margin-left: 8px;
}
